<div class="container center_div">
    <form [formGroup]="mySigninForm" (submit)="onSubmit()">
        <div class="sign">
            <h1>Sign in</h1>
            <h5 (click)="register()">Need an account?</h5>
        </div>
        <div class="mb-3 form-group" >
            <label for="exampleInputEmail1" class="form-label">Email address*</label>
            <input type="email" class="form-control" formControlName="email">
            <small class="text-danger"
            *ngIf="((mySigninForm.get('email')!.invalid && showEmailError) ||
             (mySigninForm.get('email')!.invalid && mySigninForm.get('email')!.touched))">
            Please enter valid email!</small>
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputPassword1" class="form-label">Password*</label>
            <input type="password" class="form-control"  formControlName="password" id="exampleInputPassword1">
            <small class="text-danger"
            *ngIf="((mySigninForm.get('password')!.invalid && showPasswordError) || (mySigninForm.get('password')!.invalid && mySigninForm.get('password')!.touched))">
            Please enter valid password!</small>
            <small class="text-danger"
            *ngIf="error">
            <div *ngFor="let item of errorMessage | keyvalue">
                {{item.key}}  {{item.value}}
            </div>
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>