<div class="container">
    <button class="btn btn-primary" (click)="checkBlogs()">Your Blogs</button>
</div>
<div class="blogs">
    <button class="btn btn-primary blogs">Global Blogs</button>
</div>
<div class="article">
    <button class="btn btn-primary ">Home</button>
    <button class="btn btn-primary">New Article</button>
    <button class="btn btn-primary">Settings</button>
</div>
<div class="container" *ngIf="visible">
    <hr>
    <p>Title</p>
    <p>Slogs</p>
    <p>Body</p>
    <p>Description</p>
    <p>Author</p>
</div>
<div class="container" >
    <div *ngFor="let blog of userPost">
        <p>Title : {{blog.title}} </p>
        <p>Slogs : {{blog.slogs}}</p>
        <p>Body: {{blog.body}}</p>
        <p>Description: {{blog.description}}</p>
        <p>Author: {{blog.author}}</p>
        <hr>
        <br>
    </div>    
</div>