.block h1 {
    text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    font-weight: 700!important;
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-family: titillium web,sans-serif;
}
.block p {
    color:cornsilk;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300!important;
    margin-bottom: 0;
}
.block {
    background:rgb(52 204 229);
    box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%), inset 0 -8px 8px -8px rgb(0 0 0);
    color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
}
.tagbar{
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px;
    box-sizing: inherit;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: inherit;
}
body {
    font-family: source sans pro,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}
.container.page {
    margin-top: 1.5rem;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: inherit;
}
.feed-toggle{
    margin-bottom: -1px;
    box-sizing: inherit;
}
.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0px;
    box-sizing: inherit;
}
.nav-pills .nav-item {
    float: left;
    box-sizing: inherit;
    cursor: pointer;
}
.nav-pills .nav-item + .nav-item {
    margin-left: 0.2rem;
}
.nav-pills.outline-active .nav-link.active {
    background: rgb(255, 255, 255) !important;
    border-bottom: 2px solid rgb(52 204 229) !important;
    color: rgb(52 204 229) !important;
}
.nav-link {
color: rgb(52 204 229);
}
.nav-pills .nav-link {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
}
.tag-default {
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
    box-sizing: inherit;
}
.tag-list {
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
    box-sizing: inherit;
}


.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.tag-default {
    background-color: #818a91;
    box-sizing: inherit;
    cursor: pointer;
}
.nav-link .tag-pill{
    cursor: pointer;
}