.block h1 {
    text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    font-weight: 700!important;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-family: titillium web,sans-serif;
}
.block p {
    color:cornsilk;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300!important;
    margin-bottom: 0;
}
.block {
    background:rgb(52 204 229);
    box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%), inset 0 -8px 8px -8px rgb(0 0 0);
    color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
}
.tagbar{
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px;
    box-sizing: inherit;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: inherit;
}
body {
    font-family: source sans pro,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}
.container.page {
    margin-top: 1.5rem;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: inherit;
}
.feed-toggle{
    margin-bottom: -1px;
    box-sizing: inherit;
}
.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0px;
    box-sizing: inherit;
}
.nav-pills .nav-item {
    float: left;
    box-sizing: inherit;
}
.nav-pills .nav-item + .nav-item {
    margin-left: 0.2rem;
}
.nav-pills.outline-active .nav-link.active {
    background: rgb(255, 255, 255) !important;
    border-bottom: 2px solid rgb(52 204 229) !important;
    color: rgb(52 204 229) !important;
}
.nav-link {
color: rgb(52 204 229);
}
.nav-pills .nav-link {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
}
.tag-default {
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
    box-sizing: inherit;
}
.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.tag-default {
    background-color: #818a91;
    box-sizing: inherit;
}
.nav-link .tag-pill{
    cursor: pointer;
}
    /* .container{
    margin-top: 20px;
}
.container button {
    margin-left: 10px;
    margin-right: 10px;
}
.blogs{
    margin-left: 150px;
    margin-top: -21px;
}
.article{
    float: right;
    margin: -40px 67px;
}
.article button {
    margin-right: 20px;
}
button:active{
    background:olive;
}
.fl {
    float: left;
    width: 33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    /* border-style: outset;
    border-radius: 10%;

}
.edit{
    width: 70%;
    align-items: center;
    margin: 75px 0px 0px 200px;
}
.title {
    text-align: center;
    margin: 33px;
}
.title h1{
    margin-right: 50px;
} */
/* .user img  {
    height: 30px;
    width: 30px;
    margin-left: 440px;
} */
/* .img1{
    height: 30px;
    width: 30px;
    margin-left: 440px;
    margin-left: 440px;
}
.name {
    margin: -21px 0px -3px 482px;
}
.date {
    margin: -24px 0px -3px 606px;
}
.img2 {
    height: 30px;
    width: 30px;
    margin-left: 440px;
    margin: -40px 0px -3px 850px;
}
.img3 {
    height: 30px;
    width: 30px;
    margin-left: 440px;
    margin: -25px 0px 0px 10px;
}
.content {
    text-align: center;
    margin: 10px 200px 10px 300px;
}
.comment {
    display: flex;
    align-items: center;
    justify-content: center;
} */
