<div>
    <div class="container">
        <div *ngFor="let blog of userPost; index as i" >
            <div class="article-preview">   
                <div class="article-meta">
                    <a (click)="showProfile(blog)">
                        <a href="">
                            <img src='{{blog.author.image}}'>
                        </a>
                        <div class="info">
                            <a class="author">{{blog.author.username}}</a>
                            <span class="date">{{blog.createdAt | date }}</span>
                        </div>
                    </a>
                    <a>
                        <button class="btn btn-sm btn-outline-primary pull-xs-right"(click)="like(blog,i)"
                        [ngClass]="[option != i ? '' : 'liked']">
                            <i class="fa fa-heart">{{blog.favoritesCount}}</i>
                        </button>
                    </a>
                    <a class="preview-link" (click)="showFeed(blog)">
                        <h1>{{blog.title}}</h1>
                        <p>{{blog.description}}</p>
                        <span>Read More...</span>
                    </a>
                </div>
            </div>
        </div>    
    </div>
</div>
