<div>
    <div class="container">
        <div *ngFor="let blog of userPost; let i = index" >
            <div class="article-preview">   
                <div class="article-meta">
                    <a (click)="showProfile(blog)">
                        <a href="">
                            <img src='{{blog.author.image}}' onerror="this.src='https://as1.ftcdn.net/v2/jpg/01/71/25/36/1000_F_171253635_8svqUJc0BnLUtrUOP5yOMEwFwA8SZayX.jpg'">
                        </a>
                        <div class="info">
                            <a class="author">{{blog.author.username}}</a>
                            <span class="date">{{blog.createdAt | date }}</span>
                        </div>
                    </a>
                    <a>
                        <button class="btn btn-sm btn-outline-primary pull-xs-right"(click)="like(blog,i)"
                        [ngClass]="{'liked' : blog.favorited == true}">
                            <i class="fa fa-heart">{{blog.favoritesCount}}</i>
                        </button>
                    </a>
                    <a class="preview-link" (click)="showFeed(blog)">
                        <h1>{{blog.title}}</h1>
                        <p>{{blog.description}}</p>
                        <span>Read More...</span>
                    </a>
                </div>
            </div>
        </div>  
        <div *ngIf="show">
            <p class="favArticle"> No articles are here... yet.</p>
        </div>  
        <!-- <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination clearfix">
                <li class="page-item clearfix"><a class="page-link" href="#" ><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item clearfix"  *ngFor="let number of article"><a class="page-link clearfix" href="#" (click)="pagination(number)" >{{number+1}}</a></li>
                <li class="page-item clearfix"><a class="page-link clearfix" href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </nav> -->
        <app-app-pagination [myinputMsg]="myInputMessage"></app-app-pagination> 
        <!-- <div>
            <div class="container">
                <div class="text-center">
                    <div *ngFor="let item of pagedItems">{{item.name}}</div>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First </a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous </a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page }} </a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next </a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
        </div> -->
    </div>
</div>
