
 .pagination {
    display: inline-block;
}
.page-item {
    display: inline;
}
.page-link {
    float: left;
    padding: .5rem .75rem;
    color:rgb(52 204 229);
}
.active{
    color: white;
    background: rgb(52 204 229);
}