
 .pagination {
    display: inline-block;
    cursor: pointer;
}
.page-item {
    display: inline;
}
.page-link {
    float: left;
    padding: .5rem .75rem;
    color:rgb(52 204 229);
}
.active{
    color: white;
    background: rgb(52 204 229);
}
a.disabled {
    pointer-events: none;
    cursor: default;
    background: rgb(230 236 237);
  }