<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img class="user-img" src='{{data.image}}'>
                    <h4>{{data.username}}</h4>
                    <button class="btn btn-sm action-btn btn-outline-secondary" (click)="edit()">
                        <i class="fa fa-gear">&nbsp;Edit profile settings</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : !condition}"(click)="show()">My Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : condition}" (click)="showFavBlog(data.username)">Favorited Posts</a>
                        </li>
                        <li class="nav-item" hidden>
                            <a class="nav-link active"></a>
                        </li>
                    </ul>
                </div>
                <div *ngFor="let blog of selectedUserPost">
                    <div class="article-preview">   
                        <div class="article-meta">
                            <a (click)="showProfile(blog)">
                                <a>
                                    <img src='{{blog.author.image}}'>
                                </a>
                                <div class="info">
                                    <a class="author">{{blog.author.username}}</a>
                                    <span class="date">{{blog.createdAt | date }}</span>
                                </div>
                            </a>
                            <a>
                                <button class="btn btn-sm btn-outline-primary pull-xs-right" (click)="like(blog)">
                                    <i class="ion-heart" >{{blog.favoritesCount}}</i>
                                </button>
                            </a>
                            <a class="preview-link" (click)="showFeed(blog)"> 
                                <h1>{{blog.title}}</h1>
                                <p>{{blog.description}}</p>
                                <span>Read More...</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="favArticle">
                    <p class="favArticle"> No articles are here... yet.</p>
                </div>
            </div>
        </div>
    </div>
</div>