.navbar a{
    color:rgb(52 204 229);  
}
.logo{
    font-family: titillium web,sans-serif;
    font-size: 1.5rem!important;
    padding-top: 0!important;
    margin-left: 50px!important;
    color:rgb(52 204 229)!important;
}
.navbar ul{
    margin-right: 50px;
}
nav {
    position: sticky;
    top: -2px;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar {
    margin-bottom: 2px !important;
  }
  footer {
    background: #f3f3f3;
    margin-top: 3rem;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
footer .logo {
    vertical-align: middle;
}
.logo {
    font-family: titillium web,sans-serif;
}
footer .footer {
    vertical-align: middle;
    margin-left: 10px;
    font-size: .8rem;
    color: #bbb;
    font-weight: 300;
}