<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div >
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/sign" routerLinkActive="active">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Settings" routerLinkActive="active">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>
