.navbar a{
    color:rgb(52 204 229);  
}
.logo{
    font-family: titillium web,sans-serif;
    font-size: 1.5rem!important;
    padding-top: 0!important;
    margin-left: 50px!important;
    color:rgb(52 204 229)!important;
}
.navbar ul{
    margin-right: 50px;
}