<div class="article-page"  *ngIf="data">
    <div class="banner">
        <div class="container">
            <h1>{{data.title}}</h1>
            <div class="article-meta">
                <div (click)="showProfile(data)">
                    <a href="">
                        <img src='{{data.author.image}}' onerror="this.src='https://as1.ftcdn.net/v2/jpg/01/71/25/36/1000_F_171253635_8svqUJc0BnLUtrUOP5yOMEwFwA8SZayX.jpg'">
                    </a>
                    <div class="info">
                        <a class="author">{{data.author.username}}</a>
                        <span class="date">{{data.createdAt | date }}</span>
                    </div>
                </div>
                <br>
                <div *ngIf="!profile">
                    <button *ngIf="!profileFollow" class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="follow(data)">
                        <i class="fa fa-plus">&nbsp;Follow {{data.author.username}}</i>
                    </button>
                    <button *ngIf="profileFollow" class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="unFollow(data)">
                        <i class="fa fa-plus">&nbsp;Unfollow {{data.author.username}}</i>
                    </button>
                    <button *ngIf="!articleLike" class="btn btn-sm btn-primary mr-3" (click)="like(data)"> 
                        <i class="fa fa-heart"></i>&nbsp; favorite Article
                    </button>
                    <button *ngIf="articleLike" class="btn btn-sm btn-primary mr-3" (click)="like(data)"> 
                        <i class="fa fa-heart"></i>&nbsp; Unfavorite Article
                    </button>
                </div>
                <div *ngIf="profile" >
                    <button class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="editArticle(data)">
                        <i class="fas fa-pen-alt">&nbsp;Edit Article</i>
                    </button>
                    <button class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="delete(data)">
                        <i class="fa fa-trash-o">&nbsp;Delete Article</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <p>{{data.body}}</p>
            </div>    
        </div>
        <hr>
        <div class="center" *ngIf="data">
            <div class="article-meta">
                <a href="">
                    <img src='{{data.author.image}}' onerror="this.src='https://as1.ftcdn.net/v2/jpg/01/71/25/36/1000_F_171253635_8svqUJc0BnLUtrUOP5yOMEwFwA8SZayX.jpg'">
                </a>
                <div class="info" *ngIf="data.author.username">
                    <a class="author">{{data.author.username}}</a>
                    <span class="date">{{data.createdAt | date }}</span>
                </div>
                <br><br>
                <div *ngIf="!profile">
                    <button *ngIf="!profileFollow" class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="follow(data)">
                        <i class="fa fa-plus">&nbsp;Follow {{data.author.username}}</i>
                    </button>
                    <button *ngIf="profileFollow" class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="unFollow(data)">
                        <i class="fa fa-plus">&nbsp;Unfollow {{data.author.username}}</i>
                    </button>
                    <button *ngIf="!articleLike" class="btn btn-sm btn-primary mr-3" (click)="like(data)"> 
                        <i class="fa fa-heart"></i>&nbsp; favorite Article
                    </button>
                    <button *ngIf="articleLike" class="btn btn-sm btn-primary mr-3" (click)="like(data)"> 
                        <i class="fa fa-heart"></i>&nbsp; Unfavorite Article
                    </button>
                </div>
                <div *ngIf="profile">
                    <button class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="editArticle(data)">
                        <i class="fas fa-pen-alt">&nbsp;Edit Article</i>
                    </button>
                    <button class="btn btn-sm action-btn btn-outline-secondary mr-3" (click)="delete(data)">
                        <i class="fa fa-trash-o">&nbsp;Delete Article</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-xs-12 col-md-8 offset-md-2" *ngIf="token">
                <form class="card comment-form ng-untouched ng-pristine ng-valid">
                    <fieldset>
                        <div class="card-block">
                            <textarea class="form-control ng-valid ng-untouched ng-pristine" 
                            placeholder="Write your comment..." rows="3" [(ngModel)]='commentss' name="comm"></textarea>
                        </div>
                        <div class="card-footer clearfix">
                            <button type="submit" class="btn btn-sm btn-primary" 
                            (click)="addComment()">Submit</button>
                        </div>    
                    </fieldset>
                </form>
                <div class="card" *ngFor="let comment of comments; let i = index;">
                    <div class="card-block">
                        <p>{{comment.body}}</p>
                    </div>
                    <div class="card-footer">
                        <img class="comment-author-img" src="{{comment.author.image}}" onerror="this.src='https://as1.ftcdn.net/v2/jpg/01/71/25/36/1000_F_171253635_8svqUJc0BnLUtrUOP5yOMEwFwA8SZayX.jpg'">
                        <a class="comment-author">{{comment.author.username}}</a>
                        <span class="date-posted">{{comment.createdAt | date }}</span>
                        <span class="mod option">
                            <i class="fa fa-trash-o" (click)="deleteComment(comment,i)"style="font-size:24px;float:right;margin-right: 10px;"></i>
                        </span>
                    </div>
                </div>    
            </div>
            <div class="col-xs-12 col-md-8 offset-md-2" *ngIf="!token">
                <div style="text-align: center;">
                    <a href='/login'>Sign in </a> or <a href='/register'>Sign up</a>  to add comments on this article. 
                </div>
            </div>
        </div>
    </div>
</div>
