<div class="container center_div rahul">
    <form [formGroup]="mySignupForm" (submit)="onSubmit()">
        <div class="sign">
            <h1>Sign up</h1>
            <h5 (click)="alreadyRegister()">Already have account?</h5>
        </div>
        <div class="mb-3">
            <label for="Username" class="form-label">Username:</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter username">
            <small class="text-danger"
            *ngIf="(mySignupForm.get('username')!.invalid && mySignupForm.get('username')!.untouched) && showUsernameError">
            Please enter valid username!</small>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <small class="text-danger"
            *ngIf="(mySignupForm.get('email')!.invalid && mySignupForm.get('email')!.untouched) && showEmailError">
            Please enter valid email!</small>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" formControlName="password" placeholder="password">
            <small class="text-danger"
            *ngIf="(mySignupForm.get('password')!.invalid && mySignupForm.get('password')!.untouched) && showPasswordError">
            Please enter valid password!</small>
            <small class="text-danger"
            *ngIf="error">
            <div *ngFor="let item of errorMessage | keyvalue">
                <b>{{item.key}}</b>  {{item.value}}
            </div>
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>