<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img class="user-img" src='{{data.image}}'>
                    <h4>{{data.username}}</h4>
                    <p></p>
                    <button class="btn btn-sm action-btn btn-outline-secondary">&nbsp;Follow {{data.username}}
                        <i class="ion-plus-round"></i>
                    </button>
                </div>
                <div class="col-md-9">
                    <div class="feed-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a class="nav-link">Your Feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active">Global Feed</a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link active"></a>
                            </li>
                        </ul>
                    </div>
                    <app-article-list></app-article-list>
                </div>
            </div>
        </div>
    </div>
</div>