<div class="setting-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Your settings</h1>
                <form [formGroup]="updateData" (submit)="updateUser()">
                    <fieldset>    
                        <fieldset class="form-group">
                            <input class="form-control"
                            formControlName="image" placeholder="URL of profile picture" type="text">
                        </fieldset>
                        <fieldset class="form-group" *ngIf="userData">
                            <input class="form-control form-control-lg"
                            formControlName="username" placeholder="Username" type="text" 
                            bind-value="userData.username">
                            <small class="text-danger"
                            *ngIf="((updateData.get('username')!.invalid && updateData.get('username')!.touched) || (updateData.get('username')!.invalid && showUsernameError))">                            
                            Please enter valid username!</small>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control form-control-lg"
                            formControlName="bio" placeholder="Short bio about you" rows="8"></textarea>
                        </fieldset>
                        <fieldset class="form-group" *ngIf="userData">
                            <input class="form-control form-control-lg" 
                            formControlName="email" placeholder="Email" type="email" [value]="userData.email">
                            <small class="text-danger"
                            *ngIf="((updateData.get('email')!.invalid && updateData.get('email')!.touched) || (updateData.get('email')!.invalid && showEmailError))">
                            Please enter valid email!</small>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg"
                            formControlName="password" placeholder="New Password" type="password">
                            <small class="text-danger"
                            *ngIf="((updateData.get('password')!.invalid && updateData.get('password')!.touched) || (updateData.get('password')!.invalid && showPasswordError))">
                            Please enter valid password!</small>
                        </fieldset>
                        <!-- <p *ngIf="showError">
                            <p class="danger" *ngFor="let item of error | keyvalue">
                                {{item.key}}  {{item.value}}
                            </p> -->
                        <button class="btn btn-lg btn-primary pull-xs-right" type="submit"> Update settings</button>
                    </fieldset>
                </form>
                <hr>
                <button class="btn btn-outline-danger" (click)="logout()">Click here to logout. </button>
            </div>
        </div>
    </div>
</div>