.setting{
    text-align: center;
    color:blue;
}
.setting button {
    float: right;
    margin:  97px 100px 100px 100px;
}

.detail{
    margin:  100px 100px 100px 200px;
}
.edit{
    width: 70%;
    align-items: center;
    margin: 75px 0px 0px 200px;
}
.box{
    margin: 211px 200px 0px 220px;
}
